.card {
  background-color: var(--color-secondary-light);
}
.card .cardHeader .cardHeaderText {
  font-size: 1.5rem;
  color: var(--color-secondary);
  text-align: center;
}
.card .cardHeaderPrix {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}
.card .cardHeader h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: black;
  text-align: center;
}
.card ul {
  padding: 2rem 1.5rem;
  padding-bottom: 5rem;
}
.card li {
  color: var(--color-secondary);
}
.card .green {
  color: var(--color-primary-light);
}

.card button {
  position: absolute;
  bottom: 3rem;
  left: 22%;
  right: 22%;
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.35s;
}
.card button span {
  position: relative;
  z-index: 2;
}
.card button:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 7px;
  background-color: var(--color-secondary);
  transition: all 0.35s;
}

.card button:hover {
  color: var(--color-secondary-light);
}
.card button:hover::after {
  width: 100%;
}
.card .borderGreen {
  border-color: var(--color-primary);
}
.card .borderGreen::after {
  background-color: var(--color-primary);
}
.card .borderGreen:hover {
  color: black;
}
.card button:active {
  transform: translateY(4px);
}

